<html>

<head>

</head>

<body>
<h1 style="color: red; text-align: center"> Refugees DataSet</h1>
<embed src="{{ url_for('static', filename='multilinechart.html') }}" width="800" height="600"></embed>

<h1 style="color: greed; text-align: center"> Refugees DataSet </h1>
<embed src="{{ url_for('static', filename='stackbarchart.html') }}" width="800" height="600"></embed>

<h1 style="color: blue; text-align: center"> Refugees DataSet </h1>
<embed src="{{ url_for('static', filename='multilinechart.html') }}" width="800" height="600"></embed>


<h1 style="color: purple; text-align: center"> Refugees DataSet  </h1>
<embed src="{{ url_for('static', filename='multilinechart.html') }}" width="800" height="600"></embed>
</body>



</html>