
<header>
	<div class="wrap">
		<div class="logo">
			<a href="https://webpages.uncc.edu/wcolvill/refugee/refuge_home.html"><img src="images/logo.jpg" alt="Logo Image"></a>
		</div>
		<nav id="nav">
				<a href="https://webpages.uncc.edu/wcolvill/refugee/refuge_home.html">About Us</a>
				<a href="https://webpages.uncc.edu/wcolvill/refugee/refuge_usdata.html">US Data</a>
				<a href="https://webpages.uncc.edu/wcolvill/refugee/refuge_ncdata.html">NC Data</a>
				<a href="https://webpages.uncc.edu/wcolvill/refugee/refuge_resources.html">Resources</a>
				<a href="https://webpages.uncc.edu/wcolvill/refugee/refuge_contact.html">Contact</a>
			</nav>
	</div>
</header>
<div class="banner">
	<h2>Refugee Information Hub</h2>
</div>